#skills {
  .card{
    text-align: left;
    margin-bottom: 40px;
    @media screen and (min-width: 767px){
      margin: 0 10px;
    }
    svg {
      fill: $accent2;
    }
  }
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto;
  p {
    text-align: center;
    margin-left: 0px;
    margin-right: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid $secondary;
    padding: 2px 8px;
    color: #303030;
    border-radius: 5px;
    &:hover {
      cursor: default;
    }
  }
}