.portfolio-modal__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  height: 200vh;
  width: 200vw;
  z-index: 9999;
  .portfolio-modal {
    position: relative;
    top: 5%;
    width: 90vw;
    left: 3%;
    min-width: 300px;
    background-color: $background;
    padding: 40px 25px;
    max-height: 90vh;
    overflow: scroll;
    h2 {
      font-size: 42px;
      font-weight: 800;
      margin-bottom: 30px;
    }
    p {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .skill-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      margin-bottom: 15px;
    }
    .work-image {
      margin-top: 10px;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 20px;
      box-shadow: 0px 4px 12px 0px rgba(0,0,0,.3);
    }
    button {
      background-color: $accent1;
    }
  }
  .modal__close {
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 25px;
    background-color: $accent1;
    border-radius: 50%;
    color: #fff;
    height: 30px;
    width: 30px;
    padding: 0px;
    line-height: 12px;
    border: none;
    padding-bottom: 3px;
  }
}