.navbar {
  background-color: $background;
  position: fixed;
  width: 100vw;
  padding: 25px;
  &.fixed {
    box-shadow: 0px 3px 10px 0px #888888;
  }
  .navigation__container {
    display: block;
    width: 500px;
    margin: 0 auto;
    @media screen and (max-width: 1023px) {
      width: 100%;
    }
  }
  .navbar-brand {
    display: inline-block;
    width: 100px;
    @media screen and (max-width: 1023px){
      width: 100%;
      float: left;
    }
    .navbar-burger{
      background-color: transparent;
      position: absolute;
      right: 5%;
      top: 32px;
      span{
        background-color: $accent1;
        width: 35px;
        height: 2px;

        &:nth-child(1){
          top: calc(50% - 16px)
        }
        &:nth-child(2){
          top: calc(50% - 6px)
        }
      }
    }
    a {
      height: 90px;
      width: 90px;
      background-color: #eee;
      border-radius: 50%;
      img {
        padding: 10px;
        width: 100%;
        height: auto;
        max-height: unset;
        background-color: $primary;
        border-radius: 50%;
      }
    }
  }
  .navbar-menu {
    display: inline-block;
    vertical-align: text-bottom;
    position: relative;
    top: -10px;
    @media screen and (max-width: 1023px){
      display: none;
    }
    .navbar-item {
      border-bottom: 2px solid transparent;
      box-sizing: border-box;
      &:hover {
        border-color: $secondary;
        background-color: transparent
      }
    }
  }
}
.mobile-nav__overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.25);
  visibility: visible;
  transition: all .2s ease;
  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.mobile-nav__container {
  height: 50vh;
  width: 50vh;
  position: fixed;
  top: -50px;
  right: -116px;
  z-index: 2;
  background-color: #d3e3fc;
  border-radius: 50%;
  box-shadow: 0px 3px 10px 0px #ddd;
  visibility: visible;
  opacity: 1;
  transition: all .4s ease;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    top: -900px;
    right: -900px;
  }
  .mobile-nav {
    opacity: 1;
    z-index: 99;
    position: relative;
    top: 3em;
    right: -10px;
    width: 200px;
    font-size: 24px;
    text-align: right;
    @media screen and (max-width: 1023px){
      top: 70px;
    }
    .navbar-item {
      display: block;
      color: #fff;
      font-size: 24px;
      background-color: transparent;
      &:hover {
        background-color: transparent;
        color: $dark;
      }
      @media screen and (max-width: 400px){
        font-size: 20px;
      }
    }
  }
}