@import 'variables';
@import 'mixins';
@import 'Animations/index';

@import 'UI/index';
@import 'Sections/index';


body {
  background-color: $background;
  overflow: hidden;
}
.button.is-primary {
  background-color: $secondary;
}
h1.title{
  color: $primary;
}
p {
  font-size: 18px;
  line-height: 27px;
}
h1, h2.h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 63px;
  margin-top: 10px;
}
h2 {
  font-size: 25px;
  line-height: 32px;
}
.button {
  a{
    color: #fff;
  }
}
section {
  padding-bottom: 50px;
  padding-top: 50px;
}